$color-primary: hsl(185, 75%, 39%);
$color-secondary: hsl(0, 0%, 59%);
$color-secondary--dark: hsl(229, 23%, 23%);
$color-secondary--light: hsl(227, 10%, 46%);
$color-tertiary: hsl(0, 0%, 100%);

$font-primary: 'Kumbh Sans', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: $color-secondary--dark;
  font-family: $font-primary;
  background-color: $color-primary;
  background-image: url(./bg-pattern-top.svg), url(./bg-pattern-bottom.svg);
  background-position: right 52vw bottom 40vh, left 50vw top 50vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
